#todoapp.filter-active #todo-list .completed,
#todoapp.filter-completed #todo-list .active,
#main,
#footer {
	display : none;
}

#footer {
	padding: 20px;
	background-color: transparent;
	border-top: none;
}

body {
	padding-top: 40px;
}