<div id="wrap" class="container">
  <div id="nav" class="navbar navbar-inverse navbar-fixed-top">
  </div>
  <div id="content" class="container"></div>
</div>
<div id="footer">
  <div class="container"></div>
</div>
